<h1>Welcome to <%= "#{@bar.bar}" %> </h1>

<!-- only for bar owner to create -  not on page for viewer -->
<%= link_to "Create Event", new_event_path() %>
<!-- need a follow button -->

<%= link_to "follow", follow_bar_path(@bar) %>
<%= link_to "unfollow this lame bar", unfollow_bar_path(@bar) %>

<%if !current_user %>
	<% if current_bar.id == @bar.id %>
	<%= link_to "Create a Promo", new_promo_path() %>
	<% end %>
<% end %>

<h2> Followers </h2>
<%= @followerCount %>


<%= render partial: "comments/template", locals: {commentable: @bar, new_comment: @comment} %>  
