<div class="row">

<div class=" col s12 center-align">
<h1>Welcome to your home page <%= "#{@user.username}" %> </h1>
</div>
</div>
<div class="row">


<!-- bar_type is not workinf for some reason? -->
<!-- unfollow is not working too -->
<!-- it keeps the bar name and shit, but bar is removed -->
<!-- does not remove bars without names -->
<!-- remove needs to be instant -->

<div class="col s6">
<div class="center-align">

<h4>You are following <%= @user.following_bars_count %> Bars </h4>
</div>
<ul class="center-align">
<% @user.following_bars.each do |list| %>
	<li>
		<div class="card small smallcard indigo lighten-5">
			<span class="card-title center-align"> Bar Name: <%= list.bar %></span>
		 	<div class="card-content class="center-align"">
           		Description: 
           		<br>
           		
                            
           </div>
           		<div class="card-action  class="center-align"">
          		<div><%= link_to "Bar Details", event_path(list.id) %></div>
       			</div>
		</div>
		

	</li>
<% end %>
</ul>	


 </div> 
 <div class="col s6 ">  
 <div class="center-align">
<h4>You are following <%= @user.following_events_count %> Events </h4>
</div>
 <ul class="center-align">
<% @user.following_events.each do |list| %>
	<li >
		<div class="card small smallcard center-align red lighten-5">
			<span class="card-title "> Event Name: <%= list.title %></span>
		 	<div class="card-content">
           		Description: 
           		<br>
           		
                            
           </div>
           		<div class="card-action center-align">
          		<div><%= link_to "Event Details", event_path(list.id) %></div>
       			</div>
		</div>

		

	</li>
<% end %>
</ul>      
 </div> 
            	

                
            