<div class="row center-align">
<h1> <%= @event.title %> </h1>

<% if current_bar %>
	<% if current_bar.id === @event.bar_id %>
			<a href="/event/<%= @event.bar_id %>/email" class="waves-effect waves-light btn" style="width: 250px;" id="follow">
				Contact Followers
			</a>
			<a href=""></a>
			
	<% end %>
<% end %>

</div>

<div class="row center-align ">

<div class="col s4"></div>

<div class="col s4 offset-s4">
<h3>Event Details</h3>
<h5><%= @event.description %></h5>
<!-- try and get a profile picture -->
	<div class="row" >
	<h5>Follow Count <%= @followerCount %></h5>
	</div>

	<div class="row" >


	<% if current_bar %>

		<div style="display: inline-block;" class="eventBtnlist"><a class="waves-effect waves-light btn barBtn" href="/bars/<%= @event.bar_id %>"> Bar Page</a></div>

		<% else %>
		<div style="display: inline-block;" class="eventBtnlist"><a class="waves-effect waves-light btn followBtn eventBtn" href="/events/<%= @event.id %>/follow" id="follow">follow </a></div>

		<div style="display: inline-block;" class="eventBtnlist"><a class="waves-effect waves-red red btn followBtn eventBtn" href="/events/<%= @event.id %>/unfollow"  id="unfollow">unfollow </a></div>
	<% end %>
	

	</div>
</div>
<div class="col s4"></div>
</div>

	