<h1> Create a new Promo to post on your page</h1>

<%= form_for @promo do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :description%>
    <%= form.text_area :description %>
  </div>

  <div class="form-group">
    <select name= "promo[date]"class="js-promo-date" id="promo_date">
      <option></option>
      <option >Monday</option>
      <option >Tuesday</option>
      <option >Wednesday</option>
      <option >Thursday</option>
      <option >Friday</option>
      <option >Saturday</option>
      <option >Sunday</option>
    </select>
  </div>

  <button type="submit">
    Add promo
  </button>
<% end %>
